body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    flex-direction: row;
    background-color: rgb(145, 255, 149);
}

.pig-container {
    display: flex;
}

.peppaThePig {
    margin: auto;
}

.eye .open.sleep {
    display: none;
}

.params {
    position: absolute;
    max-width: 35%;
}