html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: .5rem;
}

.pig-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: .25rem;
    border-radius: .25rem;
    background-color: rgb(145, 255, 149);
}

.peppaThePig {
    justify-self: center;
    margin: auto;
    width: 400px;
    height: 500px;
}

.btn {
    width: 100%;
}

.params {
    width: 100%;
    max-width: 300px;
    margin: .25rem;
}

li.speechLog {
    height: 100%;
}

div.speechLog {
    overflow-y: scroll
}